.scroller {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 86px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.topcoat-icon--back {
    background: url("images/back_light.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.topcoat-list__container {
    border-bottom: none;
    clear: both;
}

.count {
    color: #58C0FF;
    position: absolute;
    right: 50px;
    top: 26px;
    font-weight: bold;
}

.search-bar {
    padding:12px 10px 12px 8px;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgb(0, 0, 0);
}

.details {
    margin: auto;
}

.details>img {
    float:left;
    margin:10px;
    width: 80px;
    height: 80px;
}

.details h1 {
    padding: 12px 0px 4px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 1.2rem;
    color: #C6C8C8;
}

.details h2 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 1.1rem;
    font-weight: normal;
    color: #888;
}

.list li {
    position: relative;
    text-align: left;
    clear: both;
    /*padding: 12px 60px 16px 8px !important;*/
}

.list > li p:nth-of-type(1) {
    margin: 0px;
    padding-top: 4px;
}

.list > li p:nth-of-type(2) {
    margin: 0px;
    color: #888;
}

.list > li img {
    width: 48px;
    height: 48px;
    float: left;
    margin-top: 0px;
    margin-right: 8px;
}

.list li:active {
    background-color: #404141;
    -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.18);
    box-shadow: inset 0 1px rgba(0,0,0,0.18);
}

.action-list > li {
    position: relative;
}

.action-icon {
    position: absolute !important;
    top: 22px;
    right: 20px !important;
    width: 28px !important;
    height: 28px;
}

.actions li p:nth-of-type(2) {
    color:  #58C0FF ;
}

ul {
    clear:both;
    border-top: none !important;
}

.icon-call {
    background: transparent url(images/call.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.icon-sms {
    background: transparent url(images/chat.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.icon-mail {
    background: transparent url(images/email.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.icon-manager {
    background: transparent url(images/next.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.icon-reports {
    background: transparent url(images/next.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.icon-location {
    background: transparent url(images/location.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.chevron {
    background: transparent url(images/next_blue.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 12px;
    top: 22px;
    height: 50px;
    width: 28px;
}

#map {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.map-container {
    width: 100%;
    min-height: 300px;
    height: 300px;
    padding: 0 !important;
}

.maplist-container {
    width: 100%;
    min-height: 300px;
    height: 100%;
    padding: 0;
    top: 87px;
}


.header-lineheight {
    line-height: 2.5rem;
    color: #fff;
}

/* This is the section for the images */
.media-object__container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
  border-right: 1px solid #ebebeb;

}

.Traffic__bg {
  background-color: #76b3d3;
  color: white;
}

.Health__bg {
  background-color: white;
  color: #363636;
}

.Fire__bg {
  background-color: #c65c5c;
  color: white;
}

.School__bg {
  background-color: #4f5d73;
  color: white;
}

.Utilities__bg {
  background-color: #76c2ae;
  color: white;
}

.Other__bg {
  background-color: #c65c5c;
  color: white;
}

.Police__bg {
  background-color: #4f5d73;
  color: white;
}

div[class$='-l__bg'] {
  width: 25%;
  position: relative;
  display: inline-block;
}

div[class$='-d__bg'] {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 15px;
  height: auto;
  min-height: 80px;
  margin-bottom: -5px;
}

div[class$='__center'] {
  margin: 10px auto;
}


.health, .Health {
  background: url("../img/sprites.png") no-repeat -7px -12px;
  width: 35px;
  height: 32px;
}

.fire, .Fire {
  background: url("../img/sprites.png") no-repeat -9px -56px;
  width: 31px;
  height: 38px;
}

.school, .School {
  background: url("../img/sprites.png") no-repeat -6px -115px;
  width: 41px;
  height: 24px;
}

.traffic, .Traffic {
  background: url("../img/sprites.png") no-repeat -66px -11px;
  width: 16px;
  height: 32px;
}

.utilities, .Utilities {
  background: url("../img/sprites.png") no-repeat -58px -58px;
  width: 35px;
  height: 36px;
}

.other, .Other {
  background: url("../img/sprites.png") no-repeat -58px -107px;
  width: 37px;
  height: 35px;
}

.police, .Police {
  background: url("../img/sprites.png") no-repeat -110px -8px;
  width: 32px;
  height: 37px;
}

.tower {
  background: url("../img/sprites.png") no-repeat -100px -50px;
  width: 20px;
  height: 20px;
}
/* end image section*/

/* list item*/
h2 {
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}

.mbsc-lv-ios7 {
  font-family: arial,verdana,sans-serif;
}


.media-object__postdate {
  color: #777;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 25.25%;
  width: 100%;
      margin-bottom: 3px;
}

.media-body {
  display: inline-block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 25%;
  padding: 5px;
  width: 100%;
}

.nopadding {
    padding: 0;
}
/* end list item*/

/* detail view */
.no-border-bottom {
    border-bottom: 0px;
}
.detail-cat__icon {
  width: 15%;
  position: absolute;
}
.detail-cat__icon span {
  display: block;
}

.detail-cat__subject {
  width: 85%;
  position: absolute;
  right: 0;
  text-align: left;
}
.detail-cat__subject h4 {
  font-size: 16px;

  padding-left: 20px;
}
/* end detail view */

/* Header bar*/

.bar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  height: 48px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: white;
  border-bottom: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bar-color {
    background: rgba(77, 99, 112, 1);

}


.topcoat-navigation-bar {
    z-index: 10;
    overflow: visible;
}

.segmented-control {
  position: relative;
  display: table;
  overflow: hidden;
  font-size: 12px;
  font-weight: 400;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.segmented-control .control-item {
  display: table-cell;
  width: 1%;
  padding-top: 6px;
  padding-bottom: 7px;
  overflow: hidden;
  line-height: 1;
  color: #333;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-left: 1px solid #ccc;
}
.segmented-control .control-item:first-child {
  border-left-width: 0;
}
.segmented-control .control-item:active {
  background-color: #eee;
}
.segmented-control .control-item.active {
  background-color: #ccc;
}

.segmented-control-primary {
  border-color: white;
}
.segmented-control-primary .control-item {
  color: white;
  border-color: inherit;
}
.segmented-control-primary .control-item:active {
  background-color: white;
}
.segmented-control-primary .control-item.active {
  color: #fff;
  background-color: white;
}

.segmented-control-positive {
  border-color: #5cb85c;
}
.segmented-control-positive .control-item {
  color: #5cb85c;
  border-color: inherit;
}
.segmented-control-positive .control-item:active {
  background-color: #d8eed8;
}
.segmented-control-positive .control-item.active {
  color: #fff;
  background-color: #5cb85c;
}

.segmented-control-negative {
  border-color: #d9534f;
}
.segmented-control-negative .control-item {
  color: #d9534f;
  border-color: inherit;
}
.segmented-control-negative .control-item:active {
  background-color: #f9e2e2;
}
.segmented-control-negative .control-item.active {
  color: #fff;
  background-color: #d9534f;
}

.control-content {
  display: none;
}
.control-content.active {
  display: block;
}

.margin-top-11 {
    margin-top: 11px;
}
/* end header bar*/

/* list items*/
.white-background {
    background: white;
    border-top: 1px solid #d6d6d6;
}

.img-border-right {
    border-right: 1px solid #afafaf;
}

.list-text-color {
    color: #787878;
}

.border-bottom-1 {
    border-bottom: 1px solid #d6d6d6;
}
/* end list items*/

/* detail view */
.top-129 {
    top: 129px;
}

.subject {
    text-align: center;
    right: 8%;
    line-height: 0;
}

p {
    font-size: 14px;
    color: #777;
}
/* end detail view*/
body {
    background: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
}

.whitesmoke {
    background: whitesmoke;
}
