<div class="topcoat-navigation-bar">   
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="#">
          <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Details</h1>


    </div>
</div>

<div class='details'>

    <img class='employee-image' src='pics/amy_jones.jpg'/>
    <h1><%= subject %></h1>
    <span class="location"></span>
    <div class="topcoat-list__container scroller">
        <ul class="topcoat-list list actions">
            <li>
                <div id="single-map" class="map map-container"></div>
            </li>

            <li class="topcoat-list__item">
                <p><%= information %></p>
            </li>

            <li class="topcoat-list__item"><a href="#map">
                <p>Location</p><p></p><div class="action-icon icon-location"></div></a>
            </li>



        </ul>
    </div>
</div>
        