<div class="topcoat-navigation-bar bar-color">   
    <div class="topcoat-navigation-bar__item left quarter bar-color">
        <a class="topcoat-icon-button--quiet back-button margin-top-5" href="#">
          <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>

    <div class="topcoat-navigation-bar__item center half bar-color">
        <h1 class="topcoat-navigation-bar__title header-lineheight margin-top-11">Details</h1>
    </div>
</div>

<div class='details'>
    <div class="<%= category.name %>__bg <%= category.name %>-d__bg">
        <div class="detail-cat__icon">
            <span class="<%= category.name %>"></span>
        </div>

        <div class="detail-cat__subject nopadding subject">
            <h4><%= subject %></h4>
        </div>
    </div>

    <h1><%= subject %></h1>

    <span class="location"></span>
    
    <div class="topcoat-list__container scroller top-129 white-background">
        <ul class="topcoat-list list actions">
            <li>
                <div id="single-map" class="map map-container"></div>
            </li>

            <li class="topcoat-list__item no-border-bottom">
                <p><%= information %></p>
            </li>
        </ul>
    </div>
</div>
        